* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: arial;
}
body {
  background: black;
}
h4 {
  font-size: 1.35em;
  font-weight: bold;
  margin-bottom: 0.4rem;
}
span {
  color: #999999;
  border-right: 2px solid #999999;
  font-size: 1.12em;
}
button {
  outline: 0;
  border: 0;
  border-radius: 3px;
  width: 40vw;
  height: 4.3vh;
  font-weight: bold;
  font-size: 1em;
}
i {
  color: white;
}
.container {
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container__header {
  width: 100%;
  display: flex;
  margin-bottom: 0.5rem;
}
.container__header > img {
  margin-left: 1rem;
}
.container__header > i {
  margin-left: 4rem;
  margin-right: 0.5rem;
  margin-top: 0.6rem;
}
.container__header > input {
  outline: 0;
  width: 35vw;
  height: 4vh;
  background: #ffffff;
  border: 0;
  border-radius: 2px;
  margin-top: 0.3rem;
}
.container__header > input::placeholder {
  color: black;
  font-weight: bold;
}
.container__first {
  background-color: #141414;
  width: 100%;
  border-radius: 5px;
}
@media (min-width: 630px) {
  .container__first {
    width: 50%;
    height: 85%;
    margin-top: 1rem;
  }
}
.container__first > img {
  width: 100%;
}
.container__first span:nth-of-type(1) {
  padding: 0 0.5rem 0 0;
}
.container__first span:nth-of-type(2) {
  border: 1px solid #999999;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.container__first span:nth-of-type(3) {
  border-left: 2px solid #999999;
  padding: 0 0.5rem 0 0.5rem;
}
.container__first span:nth-of-type(4) {
  border-right: 0;
}
.container__first > p {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  font-size: 1.12em;
}
.container__first > p > a {
  color: white;
}
.container__first > button {
  color: white;
  margin-bottom: 0.4rem;
}
@media (min-width: 630px) {
  .container__first > button {
    width: 15vw;
    height: 5vh;
  }
}
.container__first > button:hover {
  animation: aumentar 0.1s;
}
@keyframes aumentar {
  to {
    transform: 0;
  }
  from {
    transform: scale(1.15);
  }
}
.container__first button:nth-of-type(1) {
  background: red;
}
.container__first button:nth-of-type(1):hover {
  background-color: #ff3333;
}
.container__first button:nth-of-type(2) {
  background: #808080;
}
.container__first button:nth-of-type(2):hover {
  background-color: #999999;
}
.container__second {
  width: 100%;
}
@media (min-width: 630px) {
  .container__second {
    width: 50%;
  }
}
.container__second--firstContent {
  height: 47%;
}
@media (min-width: 630px) {
  .container__second--firstContent {
    margin-left: 1rem;
  }
}
.container__second--firstContent-carousel {
  background-color: blue;
  width: 55vw;
  height: 42vh;
}
@media (min-width: 510px) {
  .container__second--firstContent > img:hover {
    transform: translate(4px, 4px);
  }
}
.container__second--firstContent img:nth-of-type(1) {
  padding: 0 0.5rem 0 0;
}
.container__second--firstContent img:nth-of-type(2) {
  padding: 0 0.5rem 0 0;
}
.container__second--firstContent > h4 {
  margin-top: 0.4rem;
}
@media (min-width: 630px) {
  .container__second--firstContent > h4 {
    margin-top: 0;
  }
}
.container__second--secondContent {
  height: 53%;
}
@media (min-width: 630px) {
  .container__second--secondContent {
    margin-left: 1rem;
    height: 50%;
  }
}
@media (min-width: 510px) {
  .container__second--secondContent > img:hover {
    transform: translate(4px, 4px);
  }
}
.container__second--secondContent img:nth-of-type(1) {
  padding: 0 0.5rem 0 0;
}
.container__second--secondContent img:nth-of-type(2) {
  padding: 0 0.5rem 0 0;
}
.container__second--secondContent > h4 {
  margin-top: 0.4rem;
}
@media (min-width: 630px) {
  .container__second--secondContent > h4 {
    margin-top: 0;
  }
}
.container__second--secondContent > button {
  margin-top: 0.2rem;
  margin-bottom: 0.4rem;
  margin-left: 11rem;
  color: white;
  background-color: red;
  transition: 0.5s;
}
@media (min-width: 630px) {
  .container__second--secondContent > button {
    width: 19vw;
    height: 3.8vh;
  }
}
.container #container__hidden {
  background-color: #141414;
  position: absolute;
  align-items: center;
  left: 25%;
  top: 25%;
  width: 40vw;
  height: 40vh;
  visibility: hidden;
  border-radius: 5px;
  color: white;
}
.container #container__hidden > button {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  background-color: transparent;
  color: white;
}
.container #container__hidden > select {
  margin-left: 0.5rem;
  margin-top: 0.3rem;
  outline: 0;
  background-color: #999999;
  color: white;
  width: 9vw;
  height: 3.5vh;
  font-size: 0.9em;
  border: 0;
}
.container #container__hidden > p {
  margin-top: 1rem;
  margin-left: 0.5rem;
  font-size: 1.5em;
}
.container #container__hidden > img {
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  border-radius: 5px;
}
